@model List<CustomerVM>

<h3>
	<a class="btn btn-primary" asp-action="addCustomer" asp-controller="customer">Add new customer</a>
</h3>
@foreach (var customer in Model)
{
	
	<div class="m-1 card border border-dark rounded">
		<div class="card card-body">
			<h3 class="card-title">@customer.name</h3>
			<h3 class="card-title">@customer.phoneNr</h3>
			<div><a class="card-title btn btn-primary" asp-controller="customer" asp-action="EditCustomer" asp-route-id="@customer.id">Edit customer</a></div>
			<form asp-action="DeleteCustomer" asp-controller="customer" asp-route-id="@customer.id method="post">
				<input type="hidden" name="id" value="@customer.id" />
				<button class="btn btn-danger" type="submit">delete</button>
			</form>
			@if(customer.reservationDTOs.Count < 1)
			{
				<div class="container mt-5">
					<button class="btn btn-light border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#res-@customer.name" aria-expanded="false" aria-controls="res-@customer.name">
						reservations
					</button>

					<!-- Collapsed -->
					<div class="collapse mt-5" id="res-@customer.name">
						@foreach (var reservation in customer.reservationDTOs)
						{
							<div class="card card-body">
								<h4>Reservation number: @reservation.reservationNumber</h4>
								<h4>Customer name: @reservation.customerName</h4>
								<h4>Customer phone: @reservation.phoneNr</h4>
								<h4>Table number: @reservation.tableNr</h4>
								<h4>Party size: @reservation.partySize</h4>
								<h4>Time from: @reservation.timeFrom</h4>
								<h4>Time to: @reservation.timeTo</h4>

								<div><a class="btn btn-primary" asp-controller="Reservation" asp-action="editReservation">Edit reservation</a></div>
								<form asp-action="DeleteCustomerReservation" asp-controller="Reservation" asp-route-id=reservationNumber method="post">
									<input type="hidden" name="reservationNumber" value="@reservation.reservationNumber" />
									<button class="btn btn-danger" type="submit">delete</button>
								</form>
							</div>


						}
					</div>
				</div>
			} else
			{
				<div class="container mt-2">
					<p>This user has no reservations</p>
				</div>
			}

		</div>
	</div>
}
